---
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: Microsoft
BraceWrapping:
  SplitEmptyFunction: false
BreakConstructorInitializers: BeforeComma
FixNamespaceComments: 'true'
IncludeBlocks: Preserve
IndentCaseLabels: 'true'
PointerAlignment: Left
SpacesInParentheses: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: Always
...
